:root{
  font-size: 16px;
  --font-style:'Roboto', sans-serif;
}
.header {
  background-image: url("../img/Layer\ 21@1X.png");
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
}
a{
  color: #676767;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.header-first-block {
  color: white;
  padding-top: 531px;
  padding-left: 215px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}
p {
  font-size: 1.125em;
}
.header-second-block {
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 30px;
  border: 1px solid white;
  font-variant: small-caps;
  font-size: 3.375em;
  background-color: rgba(0, 0, 0, .2);
}
.header-second-block span {
  margin-right: 0.5em;
  color: #f1ad1d;
}

.conteiner{
  width: 100%;
  height: 5000px;
}

.conteiner_block_header{
  margin-top: 50px;
  text-align: center;
  font-size: 1.0625em;
}

.conteiner_block_header h3, .conteiner_block_header p {
  margin-top: 25px;
}

hr{
  margin-top: 20px;
  border: none;
  background: #f1ad1d;
  width: 50px;
  height: 4px;
  margin: 50px auto;
}

.award{
  width: 280px;
  margin: 0 auto;
  margin-top: 70px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.375em;

}
.navigation{
  height: 60px;
  overflow: auto;
  border-bottom-width: 3px;
  border-bottom-color: #f1b128;
  border-bottom-style: solid;
  text-transform: uppercase;
  width: 80%;
  margin:auto;
  margin-top:80px;
  font-family: Roboto;
}
.navigation li{
  list-style: none;
  margin-left: 50px;
  float: left;
  font-size: 1.2em;
  margin-top: 3px;
  transition: all .7s ;
}
.navigation > *{
  float: left;
}
ul{
  margin: 0;
}
.navigation > div:first-of-type{
  margin-right: 120px;
}
.sertin_class{
  font-size:1.8em;
}
ul li:hover::after{
  /*content: url(../img/arrow.png); */
    /* content: url(../img/arrow.png); */
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.png);
    background-position: 1px 5px;
    background-repeat: no-repeat;
    color: #f1b128;
    width: 11px;
    height: 13px;
}
  
ul li:hover{
  color: #f1b128;

}

.content-conteiner {
  width: 47%;
  min-height: 318px;

}
.content-conteiner > div{ 
  display: flex;
}
.img-all{ width: 50%;
   height: 148px;
   background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 12px;
}
.content-picture1 {
  background-image: url("../img/Layer.png");
  margin-top: 5px;

}

.content-picture2 {
  background-image: url("../img/Layer\ 24@1X.png");
  margin-top: 5px;
}

.content-picture3 {
  background-image: url("../img/Layer\ 25@1X.png");
  margin-top: 10px;
}
.content-picture4 {
  background-image: url("../img/Layer\ 26@1X.png");
  margin-top: 10px;
}



.second-conteiner {
  width: 80%;
  margin: 0 auto;
  display: flex;

}

.third-conteiner {
  width: 53%;
  margin-left: 20px;
}

h3{
  margin: 0;
  padding: 0;

}
.third-conteiner{
  font-size: 1.125em;
}

.block-text {
  margin-top: 22px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}

.block-btn {
  width: 176px;
  height: 51px;
  background-color: #f1ad1d;
 text-align: center;
 line-height: 51px;
margin-top: 27px;
}

.block-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;

}

.third-conteiner span {
  color: #f1ad1d;
}

.section-score{
  height: 380px;
  background-image: url("../img/score.png");
  margin-top: 120px;
  margin-bottom:114px ;
}
.section-score p{
  text-align: center;
  padding-top: 151px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.orange{
  color: #f1ad1d;
}
.article-foto-people{
  display: grid;
  grid-template-columns:repeat(6, 1fr) ;
  grid-template-rows: 180px 180px ;
  grid-gap: 5px;
  width: 80%;
  margin: auto;
}

.article-foto-people > div:nth-child(1) {
  background: url(../img/photo_people/Layer\ 27@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(2) {
  background: url(../img/photo_people/Layer\ 28@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(3) {
  background: url(../img/photo_people/Layer\ 29@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(4) {
  background: url(../img/photo_people/Layer\ 30@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(5) {
  background: url(../img/photo_people/Layer\ 31@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(6) {
  background: url(../img/photo_people/Layer\ 32@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(7) {
  background: url(../img/photo_people/Layer\ 34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(8) {
  background: url(../img/photo_people/Layer\ 34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(9) {
  background: url(../img/photo_people/Layer\ 35@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(10) {
  background: url(../img/photo_people/Layer\ 36@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(11) {
  background: url(../img/photo_people/Layer\ 37@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(12) {
  background: url(../img/photo_people/Layer\ 38@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people .block_text {
  width: 136px;
  height: 42px;
  background-color: #333333;
  position: relative;
  top: 65%;
  left: 10%;
  line-height: 42px;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  padding-left: 15px;
}

.block-text > span {
  color: #f1ad1d;
}
.center {
  width: 80%;
  margin: 0 auto;
  text-align: center;

}
.own_service > hr{
  margin: 15px auto;
  text-align: center;
}
.block_text_boot {
  background-color: #333333;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: rgba(255, 255, 255, 255);

}
.own_service {
  border-bottom: 2px solid black;
  margin: 0 20px;

}
.own_service > div:nth-child(2){
  height: 100px;
  padding: 30px 0;
}
.own_service > div:nth-child(3){
  height: 100px;
}

/*-----------------four-logo-------------*/

.four-logo{
  height: 475px;
  background-image: url("../img/fon2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 250px;
  margin-bottom: 150px;
}
.logo-p{
  text-align: center;
  font-size: 22px;
  color: rgba(255, 255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 175px;
}
.logo-p span{
  color: #f1ad1d;
}
.choice{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

/*-----------------employyes-------------*/

.employees{
  display: flex;
  width: 80%;
  height: 215px;
  margin: auto;
  margin-bottom: 266px;
}
.employees .col{
  padding: 0px;
}
.psevdo-element{
  display: inline-block;
}
.psevdo-element:after{
  content: "";
  background-image: url("../img/zap.png");
  width: 52px;
  height: 48px;
  display: inline-block;
}
.line{
  display: inline-block;
  width:84.5%;
  border: 2px solid #f1ad1d;
  position: relative;
  top: -8px;
  margin-left: 13px;
}
.the-best-template{
  margin-top: 15px;
  font-family: var(--font-style);
  font-size: 14px;
  color: rgba(91, 91, 91, 1);
  text-align: justify;
}
.thomas{
  display: flex;
  margin-top: 15px;
  height: 33%;
  border-top: 2px solid black;
}
.thomas img{
  margin-top: 23px;
}
.name{
  font-size: 14px;
  color: rgba(49, 49, 49, 1);
  font-style: var(--font-style);
  font-weight: bold;
  margin-top: 27px;
  margin-left: 10px;
}
.spec{
  font-size: 14px;
  color: rgba(91, 91, 91, 1);
  font-style: var(--font-style);
  margin-left: 10px;
}
.spec span{
  text-transform: uppercase;
}
.for-custom{
  width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.custom-file{

  margin: 0 auto;
  width: 50%;
  height: 70px;
}

.input-block{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.input-block div:first-child{
  width: 46%;
}

.input-block div:nth-child(2){

  margin: 15px 0;
}

.info-blocks{
  display: flex;
  flex-direction: column;
}

.input-block div{
  margin: 15px 0;
}

.input-block input{
  margin-right: 29px;
  margin-bottom: 22px;
}

.block_text_info{
  background-color: #333333;
  height: 56px;
  line-height: 56px;
  text-align: left;
  color: rgba(255, 255, 255, 255);
  padding-left: 10px;
}
.socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*-----------------bird-------------*/
.bird{
  height: 380px;
  background-image: url("../img/bird.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 120px;
  margin-bottom:114px ;
}
.bird-p1{
  text-align: center;
  padding-top: 151px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.bird-p{
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  width: 700px;
  margin-top: -24px;
}
.bird-hr{
    margin-top: 30px;
}
/*-----------------bird-------------*/

.icons{
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.portfolio {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(14, 15px);
    grid-gap: 30px 30px;
    margin: 0 auto;
}
.portfolio > .portfolio_block:first-child{
  grid-row-start: 1;
  grid-row-end: 10;
}

.portfolio > .portfolio_block:nth-child(2){
  grid-row-start: 1;
  grid-row-end: 12;
}

.portfolio > .portfolio_block:nth-child(3){
  grid-row-start: 1;
  grid-row-end: 11;
}
.portfolio > .portfolio_block:nth-child(4){
  grid-row-start: 10;
  grid-row-end: 19;
}
.portfolio > .portfolio_block:nth-child(5){
  grid-row-start: 12;
  grid-row-end: 18;
}
.portfolio > .portfolio_block:nth-child(6){
    grid-row-start: 11;
    grid-row-end: 19;
}

.portfolio_block > header {
  font-size: 18pt;
  color: rgba(51, 51, 51, 255);
  text-align: left;
  font-weight: 700;
}

.portfolio_block > header::before {
  content: '\00A0 \270E ';
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #333333;
  color: orange;
  margin: 5px 5px 0 0;
}

.portfolio_block p {
    color: rgba(80, 80, 80, 0.9);
    font-size: 0.87em;
    margin-top: 10px;
    border-bottom: 3px solid silver;
}

.portfolio_block > footer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.portfolio_block > footer > a {
  text-align: right;
  vertical-align: middle;
}
.portfolio_block > .black_line {
  height: 45px;
  background-color: black;
}
.portfolio_block {
  border-bottom: 3px solid black;
}
.footer_btn {
  width: 231px;
  height: 51px;
  background-color: orange;
  color: white;
  text-align: center;
  line-height: 51px;
  border: none;

}
.center_btn {
  padding: 112px 0;
  text-align: center;
}
.portfolio_block img{
  width: 100%;
}
.bird1{
  height: 380px;
  background-image: url("../img/Layer\ 63@1X.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom:114px;
  text-align: center;
}
.buy_now{
  background-color: rgba(1, 1, 1, 0);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 177px;
  height: 55px;
}
/*menu_navi*/
.menu_navi{
  text-align: center;
  margin-bottom: 50px;
}
.menu_navi_btn{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px 25px;
  font-size: 0.875em;
  margin: 0 10px;
  border: 1px black solid;
  transition: 0.4s;
}
.menu_navi_btn:hover{
  background-color: #333333;
  color: #8c6c29;
}

/*menu_plates*/
.menu_plates {
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  grid-template-rows: 280px 280px ;
  grid-gap: 5px;
  width: 60%;
  margin: auto;

}
.plates{
  position: relative;
  width: 100%;
  height: 270px;
}
.pop_out_p{
  width: 60%;
  text-align: justify;
  font-size: 0.5em;
}
.pop_out{
  text-align: center;
  position: absolute;
  border: 2px #333 solid;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  display: none;
  transition: 0.4s;
  padding-top: 25px;
}
.pop_out > button{
  margin: 15px;
}
.plates:hover .pop_out{
  display: block;
}
.pop_out > hr{
  margin: 15px auto;
}
.plate1{
  background-image: url(../img/plate2.png);
  background-repeat: no-repeat;
}
.plate2{
  background-image: url(../img/plate2.png);
  background-repeat: no-repeat;
}
.plate3{
  background-image: url(../img/plate3.png);
  background-repeat: no-repeat;
}
.plate4{
  background-image: url(../img/plate4.png);
  background-repeat: no-repeat;
}
.plate5{
  background-image: url(../img/plate5.png);
  background-repeat: no-repeat;
}
.plate6{
  background-image: url(../img/plate6.png);
  background-repeat: no-repeat;
}
.plate7{
  background-image: url(../img/plate7.png);
  background-repeat: no-repeat;
}
.plate8{
  background-image: url(../img/plate8.png);
  background-repeat: no-repeat;
}
.plate9{
  background-image: url(../img/plate9.png);
  background-repeat: no-repeat;
}
.plate10{
  background-image: url(../img/plate10.png);
  background-repeat: no-repeat;
}
.plate11{
  background-image: url(../img/plate11.png);
  background-repeat: no-repeat;
}
.plate12{
  background-image: url(../img/plate12.png);
  background-repeat: no-repeat;
}
.location{
  text-align: center;
  margin: 50px auto;
  font-weight: 700;
  font-size: 1.125em;
  background-color: #333333;
  padding: 15px 0;
}
.location a{
  text-decoration: none;
  color: white;
}
.foot p{
  text-align: center;
  margin-bottom: 45px;
  color: rgb(55,55,55);
  font-size: 1em;
}