.header {
    text-transform: uppercase;
    color: #16a085;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-weight: bold;
    text-align: center;
}

body {
    margin: 0;
}

.home {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 332px;
    display: inline-block;
}

.photoapp {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 65px;
    display: inline-block;
}

.design {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 65px;
    display: inline-block;
}

.download {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 65px;
    display: inline-block;
    padding-right: 371px;
}

.img1 {
    margin: 0;
}

.photo {
    position: absolute;
    width: 100%;
}

.overlay {
    position: relative;
    width: 100%;
}

.sthead {
    text-transform: uppercase;
    font-size: 22px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 56px;
}

.story{
    font-size: 16px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 110px;
}
.getstart{
    background-color: #16a085;
    text-transform: uppercase;
    text-align: center;
}
.bottom{
    text-align: right;
    font-size: 16px;
    color: black;
    padding-right: 104px;
    padding-bottom: 45px;
}
