.header1 {
    background-color: #0f0e0c;
    padding: 2% 5%;
}

.content1 {
    background-color: #0f0e0c;
}

.menu {
    float: right;

}

.logo1 {
    float: left;

}

.email {
    padding-left: 600px;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.email1 {
    display: inline-block;
    text-align: center;
    vertical-align: super;
}

.phone1 {
    display: inline-block;
    text-align: center;
    vertical-align: super;
}

.phone {
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.login {
    display: inline-block;
    color: blue;
    background-color: white;
    font-size: 16px;
    border-width: 1px;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    vertical-align: super;
}

body {
    margin: 0;
    font-family: Courier, monospace;
    background-color: white;
}

.content1{
    padding-top: 5%;
}
input {
    width: 330px;
    padding: 20px;
    margin-left: 40px;
    border: none;
    color: white;
    background: #131210;
    font-size: 18px;
    border-bottom: 2px solid #333;
}
.form_btn {
    width: 214px;
    height: 55px;
    margin-left: 40px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    background: blue;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
}
.merc {
    text-align: center;
    position: relative;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.make {
    display: inline-block;
    color: #3c3c3c;
    font-size: 30px;
    text-align: left;
}

.model {
    display: inline-block;
    color: #3c3c3c;
    font-size: 30px;
    text-align: left;
}

.city {
    display: inline-block;
    color: #3c3c3c;
    font-size: 30px;
    text-align: left;
}

.search {
    display: inline-block;
    color: white;
    background-color: #135ec5;
    font-size: 16px;
    border-width: 1px;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    vertical-align: super;
}

.space {
    height: 100px;
}

.serch {
    background-color: #0f0e0c;
    text-align: center;
    padding-bottom: 198px;
}

.car_choice {
    display: flex;
    background-color: white;
    height: fit-content;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    border-bottom-width: 1px;
    border-bottom-color: black;
    padding-bottom: 63px;
}

.car_container p {
    color: #c1c1c1;
    padding-top: 59px;
    font-family: Courier;
    background-color: white;
    margin: 0;
    padding-bottom: 59px;
}

.car_description {
    background-color: white;
    padding-left: 5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 100px;
    margin: 0 40px;
    
}
.adin{
    height: fit-content;
}

.dva {
    height: fit-content;

}
hr{
    background-color: white;
    margin: 0;
    color: #ebebeb;
}
.dva > p:first-of-type{
    font-size: 3.75em;
    text-align: left;
    padding: 0;
    padding-left: 200px;
    font-weight: bold;;
    color:#135ec5;
    font-family: Roboto;
    
}
.dva p{
    padding-left: 200px;
    font-size: 1em;
}
.car_description button {
    margin-left: 200px;
    color: white;
    height: 40px;
    background-color: #135ec5;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1em;
    padding: 10px 20px;

}
.blue{
    height: 500px;
    background-color: #135ec5;
    text-align: center;
}
.blue button{
    color: white;
    height: 40px;
    background-color: #135ec5;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1em;
    padding: 9px 40px;
    border-width: 2px;
}
.blue h3{
    padding-top: 145px;
    color: white;
    font-size: 2.75em;
}
.bluewhite{
    text-align: center;
}
.bluewhite img{
    margin-top: -135px;
}
.white{
    background-color: #fefefe;
}
.four-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}
.left-side {
    width: 450px;
    height: 568px;
    float: left;
    border: 1px solid #f6f7f9;
    box-shadow: 1px 1px 15px;
    margin-top: 5em;
}
.left-side-title {
    width: 100%;
    height: 195px;
    background: #135ec5;
    text-align: right;
    position: relative;
}
.left-side-title button {
    width: 90px;
    height: 29px;
    background: white;
    color: blue;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.left-side-footer {
    padding: 60px 0 0 0;
    text-align: center;
    width: 100%;
}
.left-side-footer h3 {
    font-size: 30px;
    font-weight: 550;
}
.color-blue {
    font-size: 0.8em;
    color: blue;
}
.color-silver {
    font-size: 1em;
    color: silver;
}
.price {
    color: green;
    font-size: 1.6em;
    display: inline-block;
    vertical-align: middle;
}
.btn-footer {
    display: inline-block;
    width: 192px;
    height: 49px;
    vertical-align: middle;
    border-radius: 20px;
    background: silver;
    color: white;
    margin-left: 5em;
}
.title-img {
    position: absolute;
    top: 50%;
    left: 20%;
    display: block;
}
.four-section div {
    display: inline-block;
}
.right-side{
    box-shadow: 1px 1px 15px;
    width: 65%;
    height: 683px;
    margin-left: 5em;
}
.left-block {
    width: 60%;
    height: 100%;
    float: left;
    text-align: left;
    padding: 0.5em;
}
.car {
    display: inline-block;
    color: silver;
    margin-right: 15em;
    margin-top: 0;
}
.mini-price {
    display: inline-block;
    color: green;
    font-size: 1.7em;
    margin: 0;
}
.header-box {
    color: #135ec5;
    font-size: 1.8em;
    margin-top: 1.5em;
}
.box-content {
    color: silver;
    line-height: 3;
}
.box-btn {
    width: 215px;
    height: 55px;
    background: #135ec5;
    color: white;
    border-radius: 25px;
    margin-top: 22em;
    margin-left: 2em;
}
.right-block {
    width: 38.6%;
    height: 100%;
    background: #135ec5;
    float: left;
    position: relative;
    text-align: right;
}
.box-image {
    position: absolute;
    top: 39%;
    right: 25%;
}
.right-btn {
    width: 85px;
    height: 29px;
    background: #f6f7f9;
    color: #135ec5;
    border-radius: 25px;
    margin: 1.5em 1.5em 0 0;
}
.footer {
    padding: 5em;
}
.conneiner {
    width: 1400px;

    margin: 0 auto;
    border: 1px solid silver;
}
.footer-section input {
    color: silver;
    border: none;
    border-bottom: 1px solid silver;
    width: 250px;
    font-size: 1em;
    margin-left: 50px;
    margin-top: 2em;
    margin-bottom: 4em;
    background: white;
}
.block-footer-firs .model_row {
    margin-top: 3em;
}
.header-section input {
    color: silver;
    background: white;
    border: none;
    border-bottom: 1px solid silver;
    width: 250px;
    font-size: 1em;
    margin-left: 50px;
    margin-top: 2em;
}
.block-footer-two {
    width: 100%;
    height: 375px;
    background: #135ec5;
    position: relative;
    color: white;
}
.test {
    width: 187px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -12%;
    left: 45%;
    background: #135ec5;
    color: #f6f7f9;
}
.footer-section-test input {
    background: #135ec5;
    border: none;
    border-bottom: 1px solid white;
    width: 250px;
    font-size: 1em;
    margin-left: 50px;
    margin-top: 1em;
    margin-bottom: 2em;
}
.footer-btn {
    display: block;
    width: 204px;
    height: 55px;
    background: #f6f7f9;
    color: #135ec5;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 1em;
}
.model_row div {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
}
.maz {
    background-image: url("img/mazda.png");
}
.hun {
    background-image: url("img/hyunday.png");
}
.bmw {
    background-image: url("img/BMW@1X.png");
}
.vol {
    background-image: url("img/volvo.png");
}
.che {
    background-image: url("img/chevrolette.png");
}
.mer {
    background-image: url("img/mersedes.png");
}
.hon {
    background-image: url("img/honda.png");
}
.model_row div {
    display: inline-block;
    margin: 0 50px 0 50px;
    vertical-align: center;
    text-align: center;
}
.model_row {
    padding: 40px;
}