body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}
.orange{
    color: orange;
}
/*header*/

.head_nav{
    width: 80%;
    text-transform: uppercase;
    margin: 40px 100px;
    padding-bottom: 40px;
}
.head_nav div:nth-child(1){
    display: inline-block;
    font-size: 25px;
    float: left;
    font-weight: 700;
}
.head_nav div:nth-child(2){
    display: inline-block;
    float: right;
    line-height: 5px;
}
.menu > li{
    padding: 0 15px;
    display: inline-block;
}
.menu > li > a{
    color: black;
    text-decoration: none;
}
.menu > li > a:hover{
    border-bottom: 3px #e8bf5d solid;
}
/*main*/
main{
    background: url('./images/main_photo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;

}
.main_div{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.main_name{
    margin-top: 45%;
    margin-left: 10%;
    width: 60%;
    border-left: 2px #e8bf5d solid;
    display: inline-block;
}
.main_name p{
    margin: 0;
    padding-left: 15px;
}
.main_name p:nth-child(1){
    font-size: 55px;
}
.main_name p:nth-child(2){
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main_btn{
    display: inline-block;
    line-height: 15px;
    position: absolute;
    margin-top: 35%;
}
.main_btn button{
    border-radius: 25px;
    background-color: #e8bf5d;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 16px;
    text-transform: capitalize;
}